	body,html {
	height: 100%;
	}
	
	html {
	box-sizing: border-box;
	}
	
	figcaption {
		text-align: center;
		margin: -10px 0 20px 0;
		padding: 0;
		font-family: 'Times New Roman', Times, serif, sans-serif;
		font-size: 16px;
		line-height: 20px;
		}

	figure {
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		}
	
	body {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif, sans-serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing:0.1px;
	font-feature-settings: "calt";
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	white-space: normal;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%
	}

	.m-whole-wrap {
	position: relative;
	min-height: calc(100% - 56px);
	padding: 0;
	margin: 0
	}
	
	section {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid
	}
	
	em,i,strong {
	font-style: normal;
	font-weight: 400;
	text-decoration: none
	}
	
	em:before {
	content: 'ã€Ž'
	}
	
	em:after {
	content: 'ã€'
	}
	
	i:before,strong:before {
	content: 'ã€Œ'
	}
	
	i:after,strong:after {
	content: 'ã€'
	}
	
	img {
	-webkit-max-width: calc(100% - 28px);
	-moz-max-width: calc(100% - 28px);
	max-width: calc(100% - 28px);
	height: auto;
	margin: 4px 14px 24px 14px;
	padding: 0;
	vertical-align: middle;
	background-position: center bottom;
	background-repeat: repeat-x
	}
	
	a,a:active,a:focus,a:hover {
	color: #000000;
	text-decoration: none;
	}
	
	@media not all and (pointer: coarse) {
	a:active, a:focus, a:hover {
	background-color:transparent;
	  }
	}
	
	.m-entry-img-wrap a:active, .m-entry-img-wrap a:focus, .m-entry-img-wrap a:hover {
		border: 0;
		outline: 0;
		background-color:transparent;
	}
	
	a img {
		border: 0;
		background-color:transparent;
	}
	
	h1,h2,h3,h4,h5,h6,p,ul {
	display: block;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	margin: 0;
	}
	
	h1,h2,h3,h4 {
	font-family: 'Times New Roman', Times, serif, sans-serif;
	}
	
	h1,h2,h5,h6,p,ul {
	padding: 0 0 20px;
	}
	
	h1 {
		column-span:all;
	}
	
	h5,h6 {
	font-family: 'Times New Roman', Times, serif, sans-serif;
	break-before: avoid;
	}
	
	h5 {
	margin: 0 0 0 20px;
	text-indent: -20px;
	}
	
	h5:before, h6:before {
		text-transform:uppercase;
		content: "â€¢\00A0";
	}

	h1 {
		text-align: center;
		}
	
	h3,h4 {
	padding: 0
	}
	
	li {
	margin: 0;
	padding: 0 0 0 20px;
	text-indent: -20px;
	list-style: none;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	}
	
	li:first-letter {
		text-transform: capitalize
	}
	
	.column-break {
	break-before: auto
	}
	
	.categories {
	margin: 0;
	padding: 0;
	background-color: transparent
	}
	
	#m-header {
	display: grid;
	grid-template-columns: 40px auto 40px;
	margin: 0 28px 20px;
	padding: 20px 0 0;
	}
	
	#m-header a,.m-entry-heading a,.m-entry-img-wrap a {
		background-color:transparent;
	}
	
	#m-navicon {
	text-align: left;
	}
	
	#m-title {
	text-align: center;
	}
	
	#m-menu {
	margin: 0 28px 0;
	padding: 0 14px 0;
	word-break: keep-all;
	display: none;
	}
	
	.m-menu-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	padding: 0;
	margin: 0 -28px;
	}
	
	.m-menu-cols {
	flex-grow: 1;
	flex-basis: 408px;
	padding: 0 14px 0;
	column-count: 2;
	column-gap: 28px;
	}
	
	.m-menu-col {
	margin: 0;
	padding: 0;
	break-inside:avoid;
	}
	
	#m-content,#m-menu a,.crp-list-item-title a {
	display: default;
	}
	
	input {
	display: inline-block;
	width: 100%;
	font-family: 'Times New Roman', Times, serif, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	border-width: 0;
	background: 0 0;
	outline: 0;
	margin: 0;
	padding: 0;
	}
	
	#m-content {
	padding: 0 28px 10px;
	margin: 0;
	}
	
	.m-entry-heading {
	display: grid;
	grid-template-columns: auto 40px auto;
	padding: 0;
	margin: 0;
	column-span: all;
	}
	
	.m-page-heading {
	padding: 0;
	margin: 0;
	}
	
	.m-entry-title p, .m-entry-title h1 {
		margin:0;
		padding: 0;
	}
	.m-previous-post {
	text-align: left;
	}
	
	.m-entry-title {
	text-align: center
	}
	
	.m-next-post {
	text-align: right;
	}
	
	.m-entry-content,.m-page-content {
	display: block;
	padding: 20px 0 0 0;
	margin: 0;
	}
	
	@media screen and (min-width: 1080px) {
		.m-entry-content {
			column-count: 2;
			column-gap: 28px;
		}	
	}
		
	.m-entry-img-wrap {
		-webkit-column-break-inside: avoid;
			  page-break-inside: avoid;
				   break-inside: avoid;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: top;
		align-content: flex-start;
		padding: 0;
		margin: 0 -14px 0 -14px;
	}
	
	.m-entry-img-wrap p {
		flex-basis: 100%;
		font-size: 0;
		line-height: 0;
		margin: 0;
		padding: 0;
		text-align: center
	}
	
	.m-entry-txt-wrap {
			-webkit-column-break-inside: avoid;
			  page-break-inside: avoid;
				   break-inside: avoid;
				   
		text-align: left;
		margin: 0;
		padding: 0;
		column-count: 4;
		-webkit-column-width: 295px;
		-moz-column-width: 295px;
		column-width: 295px;
		-webkit-column-gap: 28px;
		-moz-column-gap: 28px;
		column-gap: 28px;
	}
	
	#m-related-works {
	margin: 40px 0 0;
	padding: 0
	}
	
	.m-bottom-nav-left {
	position: absolute;
	top: 60px;
	left: 28px
	}
	
	.m-bottom-nav-right {
	position: absolute;
	top: 60px;
	right: 28px
	}
	
	#m-footer {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	margin: 0;
	height: 40px;
	padding: 10px 28px 0;
	}
	
	.m-cap:first-letter {
	text-transform: capitalize
	}
	
	.crp-list-item-title + .crp-list {
	margin: -20px 0 0 0;
	}
	
	.plural a:after {
	content: 's'
	}
	
	.white-bg-padding {
		-webkit-max-width: calc(100% - 84px);
		-moz-max-width: calc(100% - 84px);
		max-width: calc(100% - 84px);
		padding:28px;
	}
	
	.m-wide {
		column-span: all;
	}
	
	.m-wide-content {
		column-count: 1;
	}
	
	blockquote {
		margin:0;
	}
	
	blockquote p {
		display: inline-block;
		padding: 0 0 0 14.5px;
		margin: 0 0 20px -14.5px;
	}
	
	blockquote + h6 {
		margin: -20px 0 0 20px;
		text-indent: -20px;
	}
	