html {
    cursor: url("/image/orange.cur"), auto;
    background-image: url("/image/A-IMG_7357-3bnw.png");
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
    overflow: hidden;
}

html, body {
    overflow-y: hidden;
    height: 100%;
}

@font-face {
    font-family: "Symbola";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(/type/Symbola_Hinted.ttf) format('woff2'),
   url(/type/Symbola_Hinted.ttf) format('woff')
}

* {
    margin: 0; 
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 34pt;
    line-height: 34pt;
}

img {
    margin-top: -25vh;
    opacity: 0.5;
    width: auto;
    max-width: 100%;
    height: auto;
    z-index: 0;
}

img.door-drawing-m {
    width: 90px;
    opacity: 1;
    position: absolute;
    top: 35%;
    left: 46%; 
    transform: translate(-50%, -50%); 
}

img.door-drawing-bn {
    width: 90px;
    height: auto;
    opacity: 1;
    position: absolute;
    top: 35%; 
    left: 46%; 
    transform: translate(-50%, -50%);
}

img.ornament-bn {
    width: 100%;
    opacity: 1;
}

html, body, section, article, aside {
    min-height: 100%;
}

article > aside {
    position: sticky;
    top: 0;
    border-left: 3pt solid #f6f1ea;
    padding-left: 3pt;
    margin-left: 1em auto;
    width: 50%;
    height: 100vh;
}

figure { 
    margin-left: 50%;
    padding-left: 3pt;
    border-left: 3pt solid #f6f1ea;
    height: 100vh;
}

#info {
    position: absolute;
    align-items:bottom;
    bottom: 0;
    left: 0;
}

#info2 {
    position: absolute;
    bottom: 0;  
    width: 100%;
}

#center {
    width: 450px; 
    margin: auto; 
    bottom: 0;
    left: 0;
}

#right {
    width: 600px; 
    margin: auto; 
    bottom: 0;
    left: 0;
}

figure:first-of-type {
    margin-top: -100vh;
}

article > aside {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    margin-left: 6pt; 
    border-left: 3pt solid #f6f1ea;
}

article:nth-of-type(1) > aside {
    background-image: url("/image/A-IMG_7357-3bnw.png");
    background-size: cover;       
    background-repeat: no-repeat;   
    background-position: center;  
}
article:nth-of-type(2) > aside {  background-color: #ff9900;  }

.figure-blue {
    background-image: url("/image/IMG_2241.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-right: 3pt solid #f6f1ea;
    margin-right: 6pt;
}

figure.figure-blue, aside {
    position: relative;
}

h1 {
    font-size: 34pt;
    display: inline-block;
    line-height: 34pt;
    font-family: "Symbola", sans-serif;
    padding-left: 3pt;
    font-weight: normal;
    font-style: normal;
    color: #f6f1ea;
}

h2 {
    font-size: 34pt;
    line-height: 34pt;
    font-family: "Symbola", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #1300ff;
}

h2:link {
    font-size: 34pt;
    line-height: 34pt;
    font-family: "Symbola", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #1300ff;
}

h3 {
    font-size: 28pt;
    line-height: 28pt;
    font-family: "Symbola", sans-serif;
    text-decoration: line-through;
    text-decoration-thickness: 28pt;
    color: #1300ff;
}

p {
    font-size: 34pt;
    line-height: 34pt;
    font-family: "Symbola", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #1300ff;
}

p:hover {
    font-size: 34pt;
    line-height: 34pt;
    font-family: "Symbola", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #f6f1ea;
}

button {
    font-size: 34pt;
    line-height: 34pt;
    text-align: left;
    color: #f6f1ea;
    background-image: url("/image/IMG_2217.gif");
    font-family: "Symbola", sans-serif;
    font-weight: normal;
    font-style: normal;
    cursor: url("/image/orange.cur"), auto;
}

button:visited {
    color: #ff9900;
    cursor: url("/image/orange.cur"), auto;
    font-size: 34pt;
    line-height: 34pt;
}

button:hover {
    color: #ff9900;
    cursor: url("/image/orange.cur"), auto;
    font-size: 34pt;
    line-height: 34pt;
}

.spacing {
    margin: 30px auto;
    padding: 30px;
    line-height: 1.5;
    max-width: 500px;
}
.spacing:first-letter {
    line-height: 1;
    font-size: 34pt;
    line-height: 34pt;
    font-weight: bold;
}

.custom-at {
    font-family: "Arial Narrow", sans-serif;
    font-size: 30pt;
    line-height: 34pt;
    display: inline-block;
}

a:link {
    color: #f6f1ea;
    text-decoration: none;
    cursor: url("/image/orange.cur"), auto;
}
  
a:visited {
    color: white;
    text-decoration:underline;
    cursor: url("/image/orange.cur"), auto;
}
  
a:hover {
    color: #1300ff;
    text-decoration: none;
    cursor: url("/image/orange.cur"), auto;
}

.custom-t {
    position: relative;
    left: -12px;
    letter-spacing: -10px; 
}

footer {
    font-size: 34pt;
    line-height: 34pt;
    font-family: "Symbola", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #f6f1ea;
    text-align: left;
    position: sticky;
    top: 0;
    border-left: 3pt solid #f6f1ea;
    margin-left: 1em auto;
    width: 50%;
    height: 100vh;
}

.close-x {
    position: absolute;
    bottom: 0;
    right: 0; 
    padding-right: 3pt; 
    font-size: 34pt;
    line-height: 34pt;
    font-family: "Symbola", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #1300ff;
}









@media (min-width: 769px) and (max-width: 1024px) {
    html {
        cursor: url("/image/orange.cur"), auto;
        background-image: url("/image/A-IMG_7357-3bnw.png");
        background-size: cover;       
        background-repeat: no-repeat; 
        background-position: center;
    }
    
    html, body {
        overflow-y: hidden;
    }
    
    @font-face {
        font-family: "Symbola";
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        src: url(/type/Symbola_Hinted.ttf) format('woff2'),
       url(/type/Symbola_Hinted.ttf) format('woff')
    }
    
    * {
        margin: 0; 
        border: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    
    img {
        margin-top: -25vh;
        opacity: 0.5;
        width: auto;
        max-width: 100%;
        height: auto;
    }
    
    img.door-drawing-m {
        width: 90px;
        opacity: 1;
        position: absolute;
        top: 26%;
        left: 300px; 
        transform: translate(-50%, -50%); 
    }
    
    img.door-drawing-bn {
        width: 90px;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 35%; 
        left: 46%; 
        transform: translate(-50%, -50%);
    }
    
    img.ornament-bn {
        width: 100%;
        opacity: 1;
    }
    
    html, body, section, article, aside {
        min-height: 100%;
    }
    
    article > aside {
        position: sticky;
        top: 0;
        border-left: 3pt solid #f6f1ea;
        padding-left: 3pt;
        margin-left: 1em auto;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    
    figure { 
        margin-left: 50%;
        padding-left: 3pt;
        border-left: 3pt solid #f6f1ea;
        height: 100vh;
        overflow: hidden;
    }
    
    #info {
        position: absolute;
        align-items:bottom;
        bottom: 0;
        left: 0;
    }
    
    #info2 {
        position: absolute;
        bottom: 0;  
        width: 100%;
    }
    
    #center {
        width: 450px; 
        margin: auto; 
        bottom: 0;
        left: 0;
    }
    
    #right {
        width: 600px; 
        margin: auto; 
        bottom: 0;
        left: 0;
    }

    .custom-t {
        position: relative;
        left: -9px;
        letter-spacing: -10px; 
    }
    
    figure:first-of-type {
        margin-top: -100vh;
    }
    
    article > aside {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        margin-left: 6pt; 
        border-left: 3pt solid #f6f1ea;
        overflow: hidden;
    }
    
    article:nth-of-type(1) > aside {
        background-image: url("/image/A-IMG_7357-3bnw.png");
        background-size: cover;       
        background-repeat: no-repeat;   
        background-position: center;  
    }
    article:nth-of-type(2) > aside {  background-color: #ff9900;  }
    
    .figure-blue {
        background-image: url("/image/IMG_2241.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        border-right: 3pt solid #f6f1ea;
        margin-right: 6pt;
        overflow: hidden;
    }
    
    figure.figure-blue, aside {
        position: relative;
    }
    
    .close-x {
        position: absolute;
        bottom: 0;
        right: 0; 
        padding-right: 3pt; 
        font-size: 26pt;
        line-height: 26pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #1300ff;
    }
    
    h1 {
        font-size: 26pt;
        line-height: 26pt;
        font-family: "Symbola", sans-serif;
        padding-left: 3pt;
        font-weight: normal;
        font-style: normal;
        color: #f6f1ea;
    }
    
    h2 {
        font-size: 26pt;
        line-height: 26pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #1300ff;
    }
    
    h2:link {
        font-size: 26pt;
        line-height: 26pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #1300ff;
    }

    h3 {
        font-size: 21pt;
        line-height: 21pt;
        font-family: "Symbola", sans-serif;
        text-decoration: line-through;
        text-decoration-thickness: 23pt;
        color: #1300ff;
    }

    p {
        font-size: 26pt;
        line-height: 26pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #1300ff;
    }
    
    p:hover {
        font-size: 26pt;
        line-height: 26pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #f6f1ea;
    }
    
    button {
        font-size: 26pt;
        line-height: 26pt;
        text-align: left;
        color: #f6f1ea;
        background-image: url("/image/IMG_2217.gif");
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        cursor: url("/image/orange.cur"), auto;
    }
    
    button:visited {
        color: #ff9900;
        cursor: url("/image/orange.cur"), auto;
    }
    
    button:hover {
        color: #ff9900;
        cursor: url("/image/orange.cur"), auto;
    }
    
    .spacing {
        margin: 30px auto;
        padding: 30px;
        line-height: 1.5;
        max-width: 500px;
    }
    .spacing:first-letter {
        line-height: 1;
        font-size: 26pt;
        line-height: 26pt;
        font-weight: bold;
    }
    
    .custom-at {
        font-family: "Arial Narrow", sans-serif;
        font-size: 24pt;
        line-height: 26pt;
        display: inline-block;
    }

    a {
        font-size: 26pt;
        line-height: 26pt;
    }
    
    a:link {
        color: #f6f1ea;
        text-decoration: none;
        font-size: 26pt;
        line-height: 26pt;
        cursor: url("/image/orange.cur"), auto;
    }
      
    a:visited {
        color: white;
        text-decoration:underline;
        font-size: 28pt;
        line-height: 28pt;
        cursor: url("/image/orange.cur"), auto;
    }
      
    a:hover {
        color: #1300ff;
        text-decoration: none;
        font-size: 26pt;
        line-height: 26pt;
        cursor: url("/image/orange.cur"), auto;
    }
    
    footer {
        font-size: 26pt;
        line-height: 26pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #f6f1ea;
        text-align: left;
        position: sticky;
        top: 0;
        border-left: 3pt solid #f6f1ea;
        margin-left: 1em auto;
        width: 50%;
        height: 100vh;
    } 
}















@media (max-width: 768px) {
    html, body {
        overflow-y: visible;
    }
    article {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    article > aside {
        width: 97%;
        height: 50vh;
        display: flex;
        justify-content: flex;
        align-items: flex;
        border-left: 3pt solid #f6f1ea;
        margin-left: 1em auto;
        border-right: 3pt solid #f6f1ea;
        margin-right: 1em auto;
        border-bottom: 3pt solid #f6f1ea;
        overflow: hidden;
    }

    figure {
        width: 97%;
        height: 50vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 150%;
        transform: translateY(50%);
        border-left: 3pt solid #f6f1ea;
        margin-left: .5em;
        border-right: 3pt solid #f6f1ea;
        margin-right: 1em auto;
        overflow: hidden;
    }

    figure > .figure-blue {
        height: 100%;
        background-image: url("/image/IMG_2241.gif");
        background-size: cover;
        background-position: center;
    }

    img.ornament-bn {
        transform: translateY(0px);
        opacity: 1;
    }

    a {
        font-size: 24pt;
        line-height: 24pt;
    }

    img.door-drawing-m {
        width: 50px;
        opacity: 1;
        position: absolute;
        top: 120px;
        bottom: 100%;
        left: 400px;
    }

    img.door-drawing-bn {
        width: 50px;
        opacity: 1;
        position: absolute;
        top: 120px; 
        left: 400px; 
        bottom: auto;
    }

    h1, h2, button {
        font-size: 24pt;
        line-height: 24pt;
    }

    h3 {
        font-size: 20pt;
        line-height: 20pt;
        font-family: "Symbola", sans-serif;
        text-decoration: line-through;
        text-decoration-thickness: 20pt;
        color: #1300ff;
    }

    p {
        font-size: 24pt;
        line-height: 24pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #1300ff;
    }
    
    p:hover {
        font-size: 24pt;
        line-height: 24pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #f6f1ea;
    }

    .custom-at {
        font-family: "Arial Narrow", sans-serif;
        font-size: 20pt;
        line-height: 24pt;
        display: inline-block;
    }

    .custom-t {
        position: relative;
        left: -9px;
        letter-spacing: -10px; 
    }

    footer {
        font-size: 24pt;
        line-height: 24pt;
    }

    .spacing {
        margin: 20px auto;
        padding: 20px;
        font-size: 24pt;
        line-height: 24pt;
        width: calc( 90% );
    }

    .close-x {
        font-size: 24pt;
        line-height: 24pt;
        position: fixed;
        bottom: 0;
        right: 0; 
        padding-right: 3pt; 
        margin: 0;
        padding: 0;
    }
}












@media (max-width: 414px) {
    html, body {
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
    
    article {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    article > aside {
        width: 97%;
        height: 50vh;
        display: flex;
        justify-content: flex;
        align-items: flex;
        border-left: 3pt solid #f6f1ea;
        margin-left: 1em auto;
        border-right: 3pt solid #f6f1ea;
        margin-right: 1em auto;
        border-bottom: 3pt solid #f6f1ea;
        overflow: hidden;
    }
    #info2 {
        position: absolute; /* Ensure it aligns to the bottom of the container */
        bottom: 0;
        width: 100%;
        text-align: left; /* Center text within the element */
    }
    
    #info2 h1 {
        margin-bottom: 10vh; /* Optional: Adjust to prevent text from getting cut off at the bottom */
    }

    figure {
        width: 97%;
        height: 50vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end; 
        position: absolute;
        top: 150%;
        transform: translateY(50%);
        border-left: 3pt solid #f6f1ea;
        margin-left: .5em;
        border-right: 3pt solid #f6f1ea;
        margin-right: 1em auto;
        overflow: hidden; 
    }
    
    figure > .figure-blue {
        height: auto; 
        width: 100%;
        background-image: url("/image/IMG_2241.gif");
        background-size: cover;
        background-position: center;
        overflow: hidden; 
    }
    

    img.ornament-bn {
        width: 90%;
        height: auto; 
        max-width: 500px; 
        opacity: 1;
        display: inline-block; 
        margin-left: 0;
    }
    

    a {
        font-size: 15pt;
        line-height: 15pt;
    }

    img.door-drawing-m {
        width: 30px;
        opacity: 1;
        position: absolute;
        top: 100px;
        bottom: 100%;
        left: 240px;
    }

    img.door-drawing-bn {
        width: 30px;
        opacity: 1;
        position: absolute;
        top: 100px; 
        left: 240px; 
        bottom: auto;
    }

    h1, h2, button {
        font-size: 15pt;
        line-height: 15pt;
    }

    h3 {
        font-size: 9pt;
        line-height: 17pt;
        font-family: "Symbola", sans-serif;
        text-decoration: line-through;
        text-decoration-thickness: 12pt;
        color: #1300ff;
    }

    p {
        font-size: 15pt;
        line-height: 15pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #1300ff;
    }
    
    p:hover {
        font-size: 15pt;
        line-height: 15pt;
        font-family: "Symbola", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #f6f1ea;
    }

    .custom-at {
        font-family: "Arial Narrow", sans-serif;
        font-size: 11pt;
        line-height: 15pt;
        display: inline-block;
    }

    .custom-t {
        position: relative;
        left: -4.75px;
        letter-spacing: -10px; 
    }

    footer {
        font-size: 15pt;
        line-height: 15pt;
    }

    .spacing {
        margin: 20px auto;
        padding: 20px;
        font-size: 18pt;
        line-height: 18pt;
        width: calc( 90% );
    }

    .close-x {
        font-size: 15pt;
        line-height: 15pt;
        position: fixed;
        bottom: 0;
        right: 0; 
        padding-right: 3pt; 
        margin: 0;
        padding: 0;
    }
}