
* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: Univers;
  src: url('assets/UniversLTPro-55Roman.otf');
  font-weight: normal;
}

@font-face {
  font-family: UniversBold;
  src: url('assets/UniversLTPro-65Bold.otf');
  font-weight: normal;
}


html {
  width: 100%;
  font-size: 20px;
}

body {
  width: 100%;
  background: #000;
  font-family: Univers, Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.35;
}

.container {
  overflow-y: hidden;
}

/* =========================
      TITLE SECTION
=========================== */

.title {
  position: fixed;
  padding: 2%;
  left: 50%;
  top:0%;
  width: 100%;
  transform: translateX(-50%);

  font-family: Univers, Arial, Helvetica, sans-serif, sans-serif;
  color: black;
  text-align: center;
  font-size: 0.5em;
  background-color: #ccd9f0;
  background-image: linear-gradient(to right, black 15%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 50px .75px;
  background-repeat: repeat-x;

}

.title > h1 {
  display: inline-block;
  font-size: 1.7em;
}

.infobuttontext:hover {
  cursor: pointer;
}

.title > .infobuttonimage {
  display: inline-block;
  height: 1.7em;
}

.title > img {
  vertical-align: -70%;
}

.menu {
  display: flex;
  display: none;
  justify-content: space-between;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #ffffff;
  background-image: linear-gradient(to right, black 15%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 50px .5px;
  background-repeat: repeat-x;
}

.tableofcontents {
  position: fixed;
  bottom: 0%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-family: Univers, Arial, Helvetica, sans-serif, sans-serif;
  color: black;
  text-align: center;
  font-size: 0.7em;
  background-color: #ffffff;
}

.menu li {
  color: black;
  font-size: 1.2em;
  display: inline-block;
}

a.anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

/* =========================
      GIF BOX SECTION
=========================== */

audio {
  display: none;
}

.gifbox {
  position: relative;
  width: 100%;
  z-index: -9999;
  /* display: none; */
}

*.gifbox > img {
  width: 100%;
  background-color: #ccd9f0; 
}

/* =========================
      MAIN TEXT SECTION
=========================== */
.infobox {
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 15vh; /* compensate for the fixed title */
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 10vh;
  max-width: 100%;
  background-color: #ffffff;
  display: none;
}

h1 {
  font-family: Univers, Arial, Helvetica, sans-serif, sans-serif;
  text-align: left;
  color: black;
  font-size: 1em;
}

h2 {
  font-family: Univers, Arial, Helvetica, sans-serif, sans-serif;
  text-align: left;
  color: black;
  padding: 0%;
  font-size: 1em;
}

.info {
  text-align: left;
  margin-bottom: 4vh;
  font-family: Univers, Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.3;
  font-size: 1em;
}

.textchapter1 {
  color: #000000;
}

.textchapter2 {
  color: #000000;
}

.chapter {
  margin-bottom: 120px;
}

.introchapter {
  font-family: Univers, Arial, Helvetica, sans-serif, sans-serif;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.description {
  font-size: 10px;
}

img {
  width:100%;
}

p {
  text-indent: 0em;
}

ol {
  padding: 6vw;
}

ul {
  padding: 6vw;
}

/* =========================
      SLIDESHOW
=========================== */


* {box-sizing:border-box;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  color: black;
  font-family: UniversBold, Arial, Helvetica, sans-serif, sans-serif;
  font-size: .9em;
  user-select: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: block;
  overflow:hidden;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Caption text */
.text {
  color: #000000;
  font-size: .9em;
  position: center;
  bottom: 0px;
  width: 75%;
  text-align: left;
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: .9em;
  position: center;
  text-align: center;
}


/* =========================
      RESPONSIVE SECTION
=========================== */

@media only screen and (max-width: 900px) {
  html {
    font-size: 16px;
  }
  .infobox {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .text {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
